@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --blue-primary: #3559c7;
    --blue-secondary: #173692;
    --grey-primary: #a0a0a0;
    --grey-secondary: #f0f0f0;
    --text-primary: #202020;
}

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    background: linear-gradient(to right, var(--blue-primary), var(--blue-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 48px;
    padding-bottom: 12px;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(to right, var(--blue-primary), var(--blue-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 32px;
    padding-bottom: 12px;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

span, p, h4 {
    font-size: 18px;
}

nav {
    background: linear-gradient(to right, var(--blue-primary), var(--blue-secondary));
    height: 64px;
    color: #ffffff;
}

footer {
    background-color: var(--grey-secondary);
    color: var(--grey-primary);
}

nav, footer {
    padding: 16px;
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    text-align: center;
    padding-bottom: 48px;
}

img {
    border-radius: 4px;
    height: 100%;
}

article {
    display: flex;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 4px var(--grey-secondary);
}

article:hover {
    box-shadow: 5px 5px 5px 5px var(--grey-secondary);
}

article span, article p {
    color: var(--text-primary);
}

a {
    text-decoration: none;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

footer a {
    color: var(--grey-primary);
}

footer a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.container {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}

.separator_sm {
    display: flex;
    gap: 4px;
}

.separator_xl {
    display: flex;
    gap: 16px;
}

.animation_up {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
  
.animation_up:hover {
    top: -6px;
}

.article_section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 32px;
}

.article_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article_info {
    display: flex;
    gap: 8px;
}

.article_info span {
    font-size: 14px;
    color: var(--grey-primary)
}