@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --blue-primary: #3559c7;
    --green-primary: #2db28b;
}

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    background: linear-gradient(to right, var('--blue-primary'), var('--green-primary'));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 48px;
    padding-bottom: 12px;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(to right, var('--blue-primary'), var('--green-primary'));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 32px;
    padding-bottom: 12px;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

span, p, h4 {
    font-size: 18px;
}

nav, footer {
    color: #ffffff;
    background: linear-gradient(to right, var('--blue-primary'), var('--green-primary'));
    height: 64px;
    padding: 16px;
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    text-align: center;
    padding-bottom: 12px;
}

.container {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.separator_sm {
    display: flex;
    gap: 4px;
}

.separator_xl {
    display: flex;
    gap: 16px;
}

.animation_up {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
  
.animation_up:hover {
    top: -6px;
}